@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4"> OLÁ PROFESSOR </h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core"> boas festas!!✨🎆 </a>.</p>
    <h1> Olá Professor </h1>
    <img src="natal.png" alt="imagem" />
    <img src="natal.png" alt="imagem" />
<figure>
    <figcaption> Mensagem de Natal: "Boas Festas - Que o natal seja festejado em paz e harmonia e o Ano Novo recebido com muita alegria" </figcaption> 
<figure> 
    <p> </p>
    <p> Escreva uma mensagem </p>
    <form> 
    <label>Mensagem:</label>
    <textarea placeholder="Digite sua mensagem"
    minlength="20" maxlength="20" rows=5 cols=20></textarea>
    <button type="submit"> Enviar </button>
    </textarea> 
    </form>


 </div>
 
