@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> OLÁ PROFESSOR </h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1> Tentei fazer mais </h1>
    <img src="natal.jpg" alt="imagem de natal" title="natal" />
    <img src="natal.jpg" alt="imagem de natal" />
 </div>
