@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

label, textarea {
  display: block;
}

textarea {
  margin: 15px 0;
  width: 250px;
  height: 100px
}